/* Tag selector to select the 'body' element */
body {
  background: #00b3e6; /* light blue */
  font-family: Arial, sans-serif;
  color: darkblue;
  text-align: center;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  width: 700px;
  margin: auto; /* centers element */
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: white;
  padding: 30px;
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  font-size: 22px;
  color: red; /* just for testing */
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}

